{% extends 'template.twig' %}

{%- block content -%}
	<extends src="src/layouts/master.html">
	  <block name="template">
		<table>
		  <tr>
			<td class="button">
			  <a href="https://maizzle.com">Confirm email address</a>
			</td>
		  </tr>
		</table>
	  </block>
	</extends>
{%- endblock -%}
